# Copyright (C) The c-ares project and its contributors
# SPDX-License-Identifier: MIT
name: OpenBSD
on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Test
        uses: cross-platform-actions/action@v0.24.0
        env:
          DIST: OPENBSD
          BUILD_TYPE: "cmake"
          CMAKE_FLAGS: "-DCMAKE_BUILD_TYPE=DEBUG -DCARES_STATIC=ON -DCARES_STATIC_PIC=ON -G Ninja"
          CMAKE_TEST_FLAGS: "-DCARES_BUILD_TESTS=ON"
          TEST_DEBUGGER: "lldb"
        with:
          operating_system: openbsd
          version: '7.5'
          shell: 'bash'
          environment_variables: DIST BUILD_TYPE CMAKE_FLAGS CMAKE_TEST_FLAGS TEST_DEBUGGER
          run: |
            sudo pkg_add cmake gtest pkgconf ninja gdb lldb
            echo "BUILD_TYPE: $BUILD_TYPE"
            echo "CMAKE_FLAGS: $CMAKE_FLAGS"
            echo "CMAKE_TEST_FLAGS: $CMAKE_TEST_FLAGS"
            ./ci/build.sh
            ./ci/test.sh

