# Copyright (C) The c-ares project and its contributors
# SPDX-License-Identifier: MIT
name: OpenWatcom
on: push

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: open-watcom/setup-watcom@v0
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: configure
        run: buildconf.bat
        shell: cmd
      - name: Build c-ares
        run: |
          wmake -u -f Makefile.Watcom
      - name: distclean
        run: |
          wmake -u -f Makefile.Watcom clean

